body {background: #30629a; padding: 50px 20px;}
.time {background: #fff; border-radius: 5px; 
	.header {background: #a1decb; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 10px;}
	.title {margin-top: 24px; padding: 0 10px;
		.time_tit {font-size: 20px; color: #41557d; font-weight: 700px;}
		.month, .omit {float: right; font-size: 14px; color: #000; margin-right: 20px;}
		.calendar_icon {float: right; width: 28px; height: 24px; background: url(../images/icon/calendar_icon.png) no-repeat; background-size: 25px 22px;}
	}
	.calendar {background: #a1decb; margin-bottom: 30px; margin-top: 16px;}
	dd {display: flex; height: 35px; line-height: 35px;
		span {flex: 1; text-align: center; color: #000; text-align: center;}
		span:nth-last-child(1),
		span:nth-last-child(2) {color: #34826a;}
		i {width: 30px; height: 30px; line-height: 30px; display: inline-block; vertical-align: middle; text-align: center;}
		.cur {background: #a1decb; border: 1px solid #fff; border-radius: 50%;}
		.hover {background: #fff; border: 1px solid #fff; border-radius: 50%;}
	}
	.todo {display: flex; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
		.sidebar {flex: 1; margin-left: 20px;
			h2 {font-size: 22px; height: 48px; line-height: 48px;}
			sup {color: #3ac096; font-size: 12px;}
		}
		.doing {flex: 4;
			.something {display: flex; height: 48px; line-height: 48px; border-bottom: 1px solid #d5d4d0;
			}
			.time {flex: 1;font-size: 14px; color: #a1a1a1;}
			.some {flex: 4;font-size: 14px; color: #000; margin-left: 10px;}
			.border_none {border: none;}
		}
	}
}

