body {background-color: #ffe700;}
.header {background: url(../images/title.png) no-repeat center center; height: 660px;}
.photo {display: block; width: 150px; margin: 0 auto; height: 150px; border-radius: 50%; background: #000; border: none; margin-bottom: 300px;}
// .public {text-align: center; padding-bottom: 300px; font-size: 24px; 
// 	.title {font-size: 38px; line-height: 1; margin-bottom: 24px; font-weight: 700; }
// 	.content {line-height: 1.6;}
// }
.public {text-align: center; padding-bottom: 300px; font-size: 24px; 
	.title {display: inline-block; padding: 5px 10px 1px 0; font-size: 38px; line-height: 1; margin-bottom: 24px; font-weight: 700; color: #ffe700; background: #000; }
	.content {display: inline-block;line-height: 1.6; background: #000; color: #ffe700;}
	.content1 {line-height: 1; font-size: 30px;}
	em {display: inline-block; color: #ffe700; background:#000; border-radius: 50%; padding: 4px 10px; }
	.rotateZ{transform: rotate(5deg);}
	.rotateF{transform: rotate(-5deg);}
}