@charset "UTF-8";

/*公共部分*/
body{margin:0 auto; background-color: #f5f5f5;}
/*公共部分*/

/*banner公共部分*/
.banner_focus {position: absolute; left: 0; right: 0; bottom: 8px; width: 100%; height: 10px; line-height: 4px; text-align: center;}
.banner_focus .focus_btn {display: inline-block; width: 6px; height: 6px; border: 1px solid #fff; border-radius: 50%;}
.banner_focus .cur {background: #fff;}
/*banner公共部分*/

/*页面头部banner与搜索*/
.page_head {position: relative; background: #fff; overflow: hidden;}
.header_banner .head_banner{float: left;}
.header_banner .head_ban img{display:block;overflow:hidden;width:100%; height: 100%;}
.wrap {position: relative;}
.wrap .search_box {position: fixed; top: 0; right: 0; left: 0; height: 40px; line-height: 40px; z-index: 999; padding: 0 10px;}
.search_box .search_jd_logo{display: inline-block;}
.search_box .search{display: inline-block;}
.search_box .search_login{display: inline-block;}
.search_jd_logo .jd_logo {display: inline-block; overflow: hidden; margin-top: 5px;}
.search_jd_logo .logo {display: inline-block; width: 56px; height: 21px; background: url(../images/icon/jd-sprites.png) no-repeat; background-position: 0 -109px; -webkit-background-size: 200px 200px;
background-size: 200px 200px;}
.search_login .search_jd_login {height: 40px; line-height: 40px; }
.search_login {position: absolute; top: 0; right: 10px; }
.search_login  .search_jd_login{ height: 40px; line-height: 40px; font-size: 15px; color: #fff;}
.search {position: absolute; top: 5px; left: 76px; right: 48px; background: #fff; border-radius: 15px; height: 30px; overflow: hidden;}
.search .search_text {position: absolute; top: 0; left: 0; right: 0; padding: 2px 10px 2px 20px; font-size: 12px; height: 30px; line-height: 30px;}

/*页面头部banner与搜索*/


/*主导航*/
.jd_nav {width: 100%; padding: 12px 10px; background-color: #fff; margin-bottom: 8px; border-bottom: 1px solid #eee;}
.jd_nav .nav{float: left; width: 25%; text-align: center; font-size: 12px; color: #666; text-decoration: none; padding-bottom: 11px;}
.jd_nav .nav img {width: 40px; height: 40px;}
.jd_nav .nav span {display: block; text-align: center;}
/*主导航*/


/*主题内容*/
.jd_content {background: #fff;}
/*主题内容*/


/*掌上秒杀*/
.boy_now .buy_now_wrap{overflow: hidden;}
.buy_now_icon, .buy_now_tit, .buy_new_time, .buy_new_more {}
.buy_now_wrap .buy_now_icon{display: inline-block; width: 18px; height: 22px; background: url(../images/icon/jd-sprites.png) -84px -109px no-repeat;  -webkit-background-size: 200px 200px; background-size: 200px 200px; margin-top: 4px; margin-left: 10px;}
.buy_now_wrap .buy_now_tit{display: inline-block;font-size: 15px;}
.buy_now_wrap .buy_new_time{display: inline-block; font-size: 12px; color: #000;}
.buy_new_time .buy_newtime_text{color: #fff; background: #000; padding: 0 2px;}
.buy_new_time .buy_newtime_dotted{color: #000;}
.buy_new_more{float: right; color: #666; font-size: 12px; margin-right: 10px; margin-top: 4px; height: 30px; line-height: 30px;}
.seckill {margin-top: 10px;}
.seckill .seckill_con {float: left; width: 33.3%;}
.seckill img {display: block; width: 100%; height: auto; overflow: hidden;}
.seckill_text {font-size: 12px; text-align: center;}
.seckill_text .current_price {color: red; margin-top: 4px;}
.seckill_text .orig_price {color: #666; text-decoration: line-through; margin: 5px 0 12px 0;}
.wrap_seckill_01 {width: 100%; display: flex; display: box; display: -webkit-box; display: -moz-box;}
.wrap_seckill_01 .seckill_content {flex:1; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1;}
.seckill_content img{width: 100%; height: auto; overflow: hidden;}
.wrap_seckill_02 {width: 100%; display: flex; display: box; display: -webkit-box; display: -moz-box;}
.wrap_seckill_02 .wrap_seckill_img{flex:1; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1;}
.wrap_seckill_02 img{width: 100%; height: auto; overflow: hidden;}
/*掌上秒杀*/

/*banner_01*/
.min_banner {position: relative; overflow: hidden; margin: 6px 0; padding: 0 8px;}
.banner_01 {width: 100%; overflow: hidden;}
.banner_01 .banner_con{float: left;}
.banner_01 .banner_con img{display: block; width: 100%; height: 100%; overflow: hidden;}
/*banner_01*/

/*theme*/
.theme {background: #fff;}
.theme_content, .theme_con_second, .theme_02, .theme_recommend{width: 100%; display: flex; display: box; display: -webkit-box; display: -moz-box;}
.theme_content .theme_con_01, .theme_con_second01, .theme_con_02 {flex:1; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1;}
.theme_con_01 img, .theme_con_02 img{width: 100%; overflow: hidden;}
.theme_title {font-size: 16px; color: red; text-align: left; margin: 10px 0 10px 10px; opacity: .8; padding-top: 8px;}
/*theme*/



/*猜你喜欢*/
.your_love {background: #fff;}
.your_love_title {width: 100%; display: flex; display: box; display: -webkit-box; display: -moz-box; padding: 0 10px;}
.your_love_tit, .your_love_login{flex:1; box-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1;}
.your_love_tit {width: 100%; text-align: left; font-size: 15px; color: #7f7f7f; margin: 5px 0 10px 0;}
.your_love_login {position: relative; top: 3px; font-size: 14px; text-align: right; color: #f15353; height: 20px; line-height: 20px; margin-top: 5px; margin-right: 12px;}
.your_love_login:before {content: ""; display: inlink-block; position: absolute; top: 0; left: -23px; width: 17px; height: 17px; background: url(../images/icon/icon_login.png) no-repeat;  -webkit-background-size: 17px 17px; background-size: 17px 17px;}
.your_love_login:after {content: ""; display: inlink-block; position: absolute; top: 6px; right: -25px; width: 20px; height: 20px; background: url(../images/icon/login_arrow.png) no-repeat; -webkit-background-size: 8px 10px; background-size: 6px 8px;}
.your_love_con .your_love_wrap {float: left; width: 50%; margin-bottom: 10px;}
.your_love_wrap img{width: 100%; overflow: hidden;}
.your_love_wrap .your_love_text{display: block; font-size: 12px; color: #333; text-align: left; height: 28px; line-height: 14px; overflow: hidden; margin: 0 5px;}
.yourlove_text {display: inline-block; padding-bottom: 10px; margin: 0 10px;}
.price {border-top: 1px solid #d7d7d7; margin-top: 8px; padding-top: 4px;}
.price .cost{float: left; font-size: 14px; color: red; opacity: .8;}
.price .more{float: right; font-size: 12px; color: #999; opacity: .8; border-radius: 4px; border: 1px solid #999; padding: 0 12px;}
/*猜你喜欢*/