div{font-size: 30px; opacity: .5;
	display: flex;
	transform: translate(0, 0);
}



.div1{background:url(../images/icon/icon1.jpg) no-repeat;}
.div2{background:url(../images/icon/icon2.png) no-repeat;}
