body {background: #F5D1E3 url(../images/bg.png) repeat-x 0 0;}
.cloud1 {position: absolute; top: 200px; left: 50px; width: 190px; height: 88px; animation: cloud1 10s 1s infinite; background: transparent url(../images/cloud1.png) no-repeat;}
@-webkit-keyframes cloud1 {
	0% {left: 0; top: 200px; opacity: 0;}
	25% {left: 200px; top: 150px; opacity: 1;}
	60% {left: 600px; top: 100px; opacity: 1;}
	100% {left: 800px; top: 20px; opacity: 0;}
}
@keyframes cloud1 {
	0% {left: 0; top: 200px; opacity: 0;}
	25% {left: 200px; top: 150px; opacity: 1;}
	60% {left: 600px; top: 100px; opacity: 1;}
	100% {left: 800px; top: 20px; opacity: 0;}
}


.cloud2 {position: absolute; top: 150px; left: 200px; width: 70px; height: 30px; animation: cloud2 12s 1s infinite; background: transparent url(../images/cloud2.png) no-repeat;}
@-webkit-keyframes cloud2 {
	0% {left: 200px; top: 150px; opacity: 0;}
	25% {left: 400px; top: 130px; opacity: 1;}
	60% {left: 500px; top: 80px; opacity: 1;}
	100% {left: 800px; top: 20px; opacity: 0;}
}
@keyframes cloud2 {
	0% {left: 300px; top: 150px; opacity: 0;}
	25% {left: 400px; top: 130px; opacity: 1;}
	60% {left: 700px; top: 80px; opacity: 1;}
	100% {left: 1000px; top: 80px; opacity: 0;}
}


.title {font-size: 20px; text-align: center; color: #666;  padding-top: 300px;}