.head_top_content, .head_nav_contert, .about_us, .main_con, .part_title, .footer { width: 1190px; margin: 0 auto; }

.head_top { background-color: #303642; overflow: hidden; }

.head_welcome { font-size: 14px; color: #888b91; font-family: "Microsoft YaHei"; }
.head_welcome .wel_text { height: 40px; line-height: 40px; padding: 6px 0 6px 30px; background: url(../img/css/home.png) no-repeat 0 3px; }

.head_serve { font-size: 14px; height: 40px; line-height: 40px; }
.head_serve li { float: left; height: 40px; line-height: 40px; }
.head_serve .hotline { color: #888b91; background: url(../img/css/telephone.png) no-repeat; padding: 4px 18px 3px 30px; }
.head_serve .hotline .telephone { font-size: 16px; color: #f93f04; font-weight: 700; font-family: "Microsoft YaHei"; }
.head_serve .help_center { display: inline-block; color: #fff; text-decoration: none; background-color: #39404d; padding: 0 12px; }
.head_serve .help_center .help_icon { font-weight: 700; font-size: 16px; padding-right: 5px; }
.head_serve .pen { display: inline-block; background: #282e39; }
.head_serve .pen:hover { background: #303642; }
.head_serve .pen .pen_icon { width: 20px; height: 20px; padding: 10px 10px 0 10px; }
.head_serve .user { display: inline-block; background: #f93f04; }
.head_serve .user:hover { background: #303642; }
.head_serve .user .user_icon { width: 20px; height: 20px; padding: 10px 10px 0 10px; }

.head_nav { background: #fff; }

.nav_menu { margin: 40px 0; }
.nav_menu .nav { float: left; }
.nav_menu .menu { display: block; padding: 0 25px; font-size: 16px; color: #2c303b; text-decoration: none; }
.nav_menu .menu:hover { color: #f93f04; }

.nav_logo { display: inline-block; font-size: 48px; color: #888b91; text-decoration: none; margin: 15px 0 20px 26px; }

.banner { height: 390px; overflow: hidden; position: relative; }

.wrap_banner li { width: 100%; height: 390px; }
.wrap_banner .show { background: url(../img/html/banner01.jpg) center no-repeat; }
.wrap_banner .none { background: url(../img/html/banner02.jpg) center no-repeat; }

.rotate_button { position: relative; bottom: 25px; }
.rotate_button .button { float: left; position: relative; left: 45%; width: 15px; height: 15px; background: #fff; border-radius: 50%; margin: 0 10px; }
.rotate_button .hover { background: #fcc600; }

.about_us_title { text-align: center; margin-top: 48px; }
.about_us_title .title1 { font-size: 34px; color: #005ead; font-weight: 700; }
.about_us_title .updata_color { color: #848484; }
.about_us_title .title2 { font-size: 25px; color: #848484; font-weight: 700; }
.about_us_title .about_text { width: 760px; margin: 0 auto; font-size: 14px; color: #818181; margin-top: 20px; }

.about_wrap { margin-top: 25px; text-align: center; margin-bottom: 54px; }
.about_wrap .about_content { width: 220px; float: left; text-align: center; margin: 0 35px; }
.about_wrap .abo_con_tit { font-size: 16px; color: #313131; text-align: center; font-weight: 700; margin-top: 3px; }
.about_wrap .abo_con_tex { font-size: 14px; color: #818181; margin-top: 8px; }

.main { background-color: #f0f0f0; }

.main_con { padding-top: 35px; }

.main_title { font-size: 25px; color: #545454; font-family: "Microsoft YaHei"; }

.invest_tit { margin-left: 8px; display: inline-block; }

.news_tit { margin-left: 12px; }

.invest_help { font-size: 13px; color: #908f8f; margin-left: 5px; }

.invest { width: 840px; margin-right: 30px; }

.news { width: 320px; }

.invest_con { margin-top: 20px; }
.invest_con .invest_content { margin-bottom: 15px; position: relative; }
.invest_con .invest_content:before { content: ""; position: absolute; left: 201px; top: -8px; width: 8px; height: 8px; z-index: 10; background: url(../img/css/arrow.png) no-repeat; }
.invest_con .inv_con_title { border: 1px solid #e5e5e5; border-left: none; background: #fff; }
.invest_con .inv_con_tit { font-size: 18px; color: #333333; height: 55px; line-height: 55px; }
.invest_con .inv_con_icon { display: inline-block; width: 36px; height: 36px; background: url(../img/css/earn.png) no-repeat; margin: 10px 8px 10px 8px; }
.invest_con .invest_img { width: 202px; height: 202px; position: relative; top: -8px; }

.earnings { background: url(../img/css/earn_bg.png); }

.earn_one { padding-left: 28px; padding-right: 81px; padding-top: 10px; }
.earn_one .earn_yield { font-size: 34px; font-weight: 700; color: #f93f04; display: block; }

.earn_text { font-size: 14px; color: #818181; display: block; }

.earn_red { font-size: 14px; color: #f93f04; }

.earn_em { font-weight: 700; }

.earnings { border: 1px solid #e5e5e5; border-left: none; border-top: none; }

.earn_two { border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 59px 15px 33px 16px; }
.earn_two .earn_container { width: 135px; height: 12px; background: #dbdbdb; overflow: hidden; margin-bottom: 8px; }
.earn_two .earn_cont { background-color: #72c527; height: 12px; }
.earn_two .earn_50 { width: 50%; }
.earn_two .earn_70 { width: 70%; }
.earn_two .earn_80 { width: 80%; }
.earn_two .earn_100 { width: 100%; }

.earn_three { padding: 25px 34px 20px 37px; }
.earn_three .earn_alter { margin-bottom: 15px; }
.earn_three .imme_inve { display: inline-block; font-size: 18px; color: #fff; text-align: center; text-decoration: none; border-radius: 2px; width: 152px; height: 36px; line-height: 36px; }
.earn_three .imme_bid { background: #72c527; }
.earn_three .imme_invest { background: #ed4914; }
.earn_three .imme_refund { background: #2f87d0; padding: 9px 49px; }

.more { display: block; background: #fff; text-align: center; border: 1px solid #e5e5e5; font-size: 15px; color: #858484; text-decoration: none; height: 36px; line-height: 36px; }

.news { overflow: hidden; }

.news_more { display: inline-block; font-size: 12px; margin-right: 10px; text-decoration: none; line-height: 38px; }

.news_more_alter1 { color: #878787; }

.news_more_alter2 { color: #2d7abb; line-height: 52px; }

.news_container { border: 1px solid #e5e5e5; background: #fff; }
.news_container .news_img { position: relative; padding: 5px; }
.news_container .news_images { width: 308px; height: 224px; }
.news_container .new_img_tit { position: absolute; left: 5px; bottom: 10px; padding-left: 12px; width: 93%; height: 36px; line-height: 36px; background: rgba(0, 0, 0, 0.5); font-size: 14px; color: #fff; }

.news_content { padding: 0 8px 12px 12px; }
.news_content .news_con_tit { font-size: 14px; color: #515151; text-decoration: none; height: 32px; line-height: 32px; }
.news_content .date { color: #9b9b9b; }
.news_content .new_con_icon { display: inline-block; width: 3px; height: 3px; background: #d1d1d1; vertical-align: middle; }

.hot_news { margin-top: 22px; border: 1px solid #e5e5e5; background: #fff; }

.hot_news_tit { border-bottom: 1px solid #e5e5e5; line-height: 52px; }

.mt12 { margin-top: 12px; }

.ranking_list { border: 1px solid #e5e5e5; margin-top: 38px; background: url(../img/css/link.png) no-repeat; border-top: none; padding-top: 54px; }
.ranking_list .list { width: 100%; background: #fff; }
.ranking_list .name { padding-left: 18px; width: 30%; }
.ranking_list .user_name { text-align: center; width: 30%; }
.ranking_list .amount { text-align: center; width: 40%; }
.ranking_list .list_title { background: #f3f3f3; font-size: 14px; color: #515151; height: 30px; line-height: 30px; }
.ranking_list tr { height: 34px; line-height: 34px; }
.ranking_list .name_bg { vertical-align: middle; }
.ranking_list .list_number { display: inline-block; width: 16px; height: 16px; background: #a1abb4; text-align: center; font-size: 12px; color: #fff; vertical-align: middle; margin-left: 2px; line-height: 16px; }

.partner { background: url(../img/css/part_bg.png) center no-repeat; height: 360px; }

.part_title { text-align: center; padding-top: 162px; }
.part_title li { float: left; }
.part_title img { width: 225px; height: 85px; overflow: hidden; }

.foot { height: 356px; background: url(../img/css/footer_bg.png); opacity: .2px; overflow: hidden; }

.foot_link { margin-left: 62px; padding: 46px 0 43px 0; }
.foot_link .foot_logo { text-decoration: none; font-size: 60px; color: #fff; line-height: 120px; margin-right: 70px; }
.foot_link .foot_telephone { margin-left: 28px; padding-left: 50px; font-size: 34px; color: #fff; background: url(../img/css/foot_tele.png) no-repeat 0 38px; line-height: 120px; position: relative; }
.foot_link .foot_telephone:before { content: ""; position: absolute; left: -20px; top: -8px; width: 0; height: 145px; z-index: 10; border-right: 1px solid #3d4854; border-left: 1px solid #181f27; }
.foot_link .foot_telephone:after { content: ""; position: absolute; right: -20px; top: -8px; width: 0; height: 145px; z-index: 10; border-right: 1px solid #3d4854; border-left: 1px solid #181f27; }

.foot_link_us { padding-left: 26px; margin-left: 100px; }
.foot_link_us .foot_aboutus { float: left; }
.foot_link_us .ml120 { margin-left: 100px; }
.foot_link_us .foot_us { font-size: 16px; color: #fff; display: inline-block; }
.foot_link_us .foot_icon { display: inline-block; width: 20px; height: 20px; background: url(../img/css/foot_icon.png) no-repeat; vertical-align: -4px; }
.foot_link_us .foot_us_title { font-size: 14px; color: #7a7b7c; text-decoration: none; }
.foot_link_us .foot_us_link { line-height: 28px; height: 28px; }
.foot_link_us .foot_us_links { margin-top: 15px; padding-left: 24px; }

.footer { position: relative; }

.foot_saft { background-position: -20px 0; }

.foot_help { background-position: -40px 0; }

.foot_cope { height: 125px; line-height: 125px; text-align: center; font-size: 14px; color: #7a7b7c; }
